@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');

body {
    background-color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 5vw 20vw;

}

h1 {
    color: #f18b00;
    font-family: 'Poppins', sans-serif;
}

a,
.time, .fa {
    text-decoration: none;
    color: #762157;
}

.time {
    font-weight: bold;
}

@media screen and (min-width:0\0) {
    .container>.time {
        display: none;
    }

    div:not(.container):not(#dinner-wed) {
        border-bottom: .1px solid gray; 
    }
}


#back-button {
    float: right;
    margin-top: -2vw;
    margin-right: -15vw;
}

.container {
    background-color: black;
    border: 1px solid black;
    grid-gap: 1px;
    display: grid;
    grid-template-columns: .1fr .5fr .5fr;
    grid-template-rows: repeat(52, 1fr);
}

.container>div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>div:not(.time) {
    line-height: 1.6;
}

#seven-am,
#eight-am,
#nine-am,
#ten-am,
#eleven-am,
#twelve-pm,
#one-pm,
#two-pm,
#three-pm,
#four-pm,
#five-pm,
#six-pm,
#seven-pm,
#eight-pm {
    grid-column: 1/2;
}

#seven-am {
    grid-row: 1/5;
}

#eight-am {
    grid-row: 5/9;
}

#nine-am {
    grid-row: 9/13;
}

#ten-am {
    grid-row: 13/17;
}

#eleven-am {
    grid-row: 17/21;
}

#twelve-pm {
    grid-row: 21/25;
}

#one-pm {
    grid-row: 25/29;
}

#two-pm {
    grid-row: 29/33;
}

#three-pm {
    grid-row: 33/37;
}

#four-pm {
    grid-row: 37/41;
}

#five-pm {
    grid-row: 41/45;
}

#six-pm {
    grid-row: 45/49;
}

#seven-pm {
    grid-row: 49/53;
}

#eight-pm {
    grid-row: 53/54;
}

div .travel-registration {
    background-color: #FFC99C;
}

div .customer-centricity {
    background-color: #CECDCE;
}

div .brady-summit {
    background-color: #FBCE60;
}

div .other {
    background-color: thistle;
}

div .breaksnmeals {
    background-color: #DBF99E;
}

div .mobile {
    background-color: #F5D5EA;
}

div .uc-design {
    background-color: #DDEBF0;
}

div .other {
    background-color: #FAFFB2;
}

#breakfast-wed {
    grid-row: 1/5;
    grid-column: 2/4;
}

#filling1 {
    grid-row: 5/6;
    grid-column: 2/4;
}

#filling2 {
    grid-row: 5/8;
    grid-column: 3/4;
}

#mobile-overview {
    grid-row: 6/8;
    grid-column: 2/3;
}

#uc-design-overview {
    grid-row: 8/10;
    grid-column: 2/3;
}

#uc-design-impl-k {
    grid-row: 10/15;
    grid-column: 2/3;
}

#break-wed {
    grid-row: 15/16;
    grid-column: 2/3;
}

#uc-design-nutsnbolts-k {
    grid-row: 16/23;
    grid-column: 2/3;
}

#uc-design-overview2 {
    grid-row: 8/10;
    grid-column: 3/4;
}

#mobile-overview2 {
    grid-row: 8/10;
    grid-column: 3/4;
}

#mobile-ux-l {
    grid-row: 10/16;
    grid-column: 3/4;
}

#break-wed2 {
    grid-row: 16/17;
    grid-column: 3/4;
}

#mobile-app-l {
    grid-row: 17/22;
    grid-column: 3/4;
}

#lunch-wed {
    grid-row: 22/25;
    grid-column: 3/4;
}

#filling3 {
    grid-row: 23/25;
    grid-column: 2/3;
}

#mobile-ux-k {
    grid-row: 25/31;
    grid-column: 2/3;
}

#mobile-app-k {
    grid-row: 31/37;
    grid-column: 2/3;
}

#uc-design-nutsnbolts-l {
    grid-row: 25/31;
    grid-column: 3/4;
}

#uc-design-impl-l {
    grid-row: 31/37;
    grid-column: 3/4;
}

#break-wed3 {
    grid-row: 37/38;
    grid-column: 2/4;
}

#upgrade-info {
    grid-row: 38/43;
    grid-column: 2/4;
}

#cc-intro {
    grid-row: 43/47;
    grid-column: 2/4;
}

#filling4 {
    grid-row: 47/51;
    grid-column: 2/4;
}

#dinner-wed {
    grid-row: 51/54;
    grid-column: 2/4;
}