@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');

body {
    background-color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 5vw 20vw;

}

h1 {
    color: #f18b00;
    font-family: 'Poppins', sans-serif;
}

a,
.time {
    text-decoration: none;
    color: #762157;
}

.time {
    font-weight: bold;
}

#back-button {
    float: right;
    margin-top: -2vw;
    margin-right: -15vw;
}

 .container {
    background-color: black;
    border: 1px solid black;
    grid-gap: 1px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .1fr 1px 1fr;
    grid-template-columns: .1fr 1fr;
    -ms-grid-rows: 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr 1px .1fr;
    grid-template-rows: repeat(32, 1fr) repeat(21, .1fr);
}




 .container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}




 .container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}




 .container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}




 .container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}




 .container > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}




 .container > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}




 .container > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}




 .container > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}




 .container > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}




 .container > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}




 .container > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}




 .container > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}




 .container > *:nth-child(13) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
}




 .container > *:nth-child(14) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
}




 .container > *:nth-child(15) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
}




 .container > *:nth-child(16) {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
}




 .container > *:nth-child(17) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
}




 .container > *:nth-child(18) {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
}




 .container > *:nth-child(19) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
}




 .container > *:nth-child(20) {
    -ms-grid-row: 19;
    -ms-grid-column: 3;
}




 .container > *:nth-child(21) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
}




 .container > *:nth-child(22) {
    -ms-grid-row: 21;
    -ms-grid-column: 3;
}




 .container > *:nth-child(23) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
}




 .container > *:nth-child(24) {
    -ms-grid-row: 23;
    -ms-grid-column: 3;
}




 .container > *:nth-child(25) {
    -ms-grid-row: 25;
    -ms-grid-column: 1;
}




 .container > *:nth-child(26) {
    -ms-grid-row: 25;
    -ms-grid-column: 3;
}




 .container > *:nth-child(27) {
    -ms-grid-row: 27;
    -ms-grid-column: 1;
}




 .container > *:nth-child(28) {
    -ms-grid-row: 27;
    -ms-grid-column: 3;
}




 .container > *:nth-child(29) {
    -ms-grid-row: 29;
    -ms-grid-column: 1;
}




 .container > *:nth-child(30) {
    -ms-grid-row: 29;
    -ms-grid-column: 3;
}




 .container > *:nth-child(31) {
    -ms-grid-row: 31;
    -ms-grid-column: 1;
}




 .container > *:nth-child(32) {
    -ms-grid-row: 31;
    -ms-grid-column: 3;
}




 .container > *:nth-child(33) {
    -ms-grid-row: 33;
    -ms-grid-column: 1;
}




 .container > *:nth-child(34) {
    -ms-grid-row: 33;
    -ms-grid-column: 3;
}




 .container > *:nth-child(35) {
    -ms-grid-row: 35;
    -ms-grid-column: 1;
}




 .container > *:nth-child(36) {
    -ms-grid-row: 35;
    -ms-grid-column: 3;
}




 .container > *:nth-child(37) {
    -ms-grid-row: 37;
    -ms-grid-column: 1;
}




 .container > *:nth-child(38) {
    -ms-grid-row: 37;
    -ms-grid-column: 3;
}




 .container > *:nth-child(39) {
    -ms-grid-row: 39;
    -ms-grid-column: 1;
}




 .container > *:nth-child(40) {
    -ms-grid-row: 39;
    -ms-grid-column: 3;
}




 .container > *:nth-child(41) {
    -ms-grid-row: 41;
    -ms-grid-column: 1;
}




 .container > *:nth-child(42) {
    -ms-grid-row: 41;
    -ms-grid-column: 3;
}




 .container > *:nth-child(43) {
    -ms-grid-row: 43;
    -ms-grid-column: 1;
}




 .container > *:nth-child(44) {
    -ms-grid-row: 43;
    -ms-grid-column: 3;
}




 .container > *:nth-child(45) {
    -ms-grid-row: 45;
    -ms-grid-column: 1;
}




 .container > *:nth-child(46) {
    -ms-grid-row: 45;
    -ms-grid-column: 3;
}




 .container > *:nth-child(47) {
    -ms-grid-row: 47;
    -ms-grid-column: 1;
}




 .container > *:nth-child(48) {
    -ms-grid-row: 47;
    -ms-grid-column: 3;
}




 .container > *:nth-child(49) {
    -ms-grid-row: 49;
    -ms-grid-column: 1;
}




 .container > *:nth-child(50) {
    -ms-grid-row: 49;
    -ms-grid-column: 3;
}




 .container > *:nth-child(51) {
    -ms-grid-row: 51;
    -ms-grid-column: 1;
}




 .container > *:nth-child(52) {
    -ms-grid-row: 51;
    -ms-grid-column: 3;
}




 .container > *:nth-child(53) {
    -ms-grid-row: 53;
    -ms-grid-column: 1;
}




 .container > *:nth-child(54) {
    -ms-grid-row: 53;
    -ms-grid-column: 3;
}




 .container > *:nth-child(55) {
    -ms-grid-row: 55;
    -ms-grid-column: 1;
}




 .container > *:nth-child(56) {
    -ms-grid-row: 55;
    -ms-grid-column: 3;
}




 .container > *:nth-child(57) {
    -ms-grid-row: 57;
    -ms-grid-column: 1;
}




 .container > *:nth-child(58) {
    -ms-grid-row: 57;
    -ms-grid-column: 3;
}




 .container > *:nth-child(59) {
    -ms-grid-row: 59;
    -ms-grid-column: 1;
}




 .container > *:nth-child(60) {
    -ms-grid-row: 59;
    -ms-grid-column: 3;
}




 .container > *:nth-child(61) {
    -ms-grid-row: 61;
    -ms-grid-column: 1;
}




 .container > *:nth-child(62) {
    -ms-grid-row: 61;
    -ms-grid-column: 3;
}




 .container > *:nth-child(63) {
    -ms-grid-row: 63;
    -ms-grid-column: 1;
}




 .container > *:nth-child(64) {
    -ms-grid-row: 63;
    -ms-grid-column: 3;
}




 .container > *:nth-child(65) {
    -ms-grid-row: 65;
    -ms-grid-column: 1;
}




 .container > *:nth-child(66) {
    -ms-grid-row: 65;
    -ms-grid-column: 3;
}




 .container > *:nth-child(67) {
    -ms-grid-row: 67;
    -ms-grid-column: 1;
}




 .container > *:nth-child(68) {
    -ms-grid-row: 67;
    -ms-grid-column: 3;
}




 .container > *:nth-child(69) {
    -ms-grid-row: 69;
    -ms-grid-column: 1;
}




 .container > *:nth-child(70) {
    -ms-grid-row: 69;
    -ms-grid-column: 3;
}




 .container > *:nth-child(71) {
    -ms-grid-row: 71;
    -ms-grid-column: 1;
}




 .container > *:nth-child(72) {
    -ms-grid-row: 71;
    -ms-grid-column: 3;
}




 .container > *:nth-child(73) {
    -ms-grid-row: 73;
    -ms-grid-column: 1;
}




 .container > *:nth-child(74) {
    -ms-grid-row: 73;
    -ms-grid-column: 3;
}




 .container > *:nth-child(75) {
    -ms-grid-row: 75;
    -ms-grid-column: 1;
}




 .container > *:nth-child(76) {
    -ms-grid-row: 75;
    -ms-grid-column: 3;
}




 .container > *:nth-child(77) {
    -ms-grid-row: 77;
    -ms-grid-column: 1;
}




 .container > *:nth-child(78) {
    -ms-grid-row: 77;
    -ms-grid-column: 3;
}




 .container > *:nth-child(79) {
    -ms-grid-row: 79;
    -ms-grid-column: 1;
}




 .container > *:nth-child(80) {
    -ms-grid-row: 79;
    -ms-grid-column: 3;
}




 .container > *:nth-child(81) {
    -ms-grid-row: 81;
    -ms-grid-column: 1;
}




 .container > *:nth-child(82) {
    -ms-grid-row: 81;
    -ms-grid-column: 3;
}




 .container > *:nth-child(83) {
    -ms-grid-row: 83;
    -ms-grid-column: 1;
}




 .container > *:nth-child(84) {
    -ms-grid-row: 83;
    -ms-grid-column: 3;
}




 .container > *:nth-child(85) {
    -ms-grid-row: 85;
    -ms-grid-column: 1;
}




 .container > *:nth-child(86) {
    -ms-grid-row: 85;
    -ms-grid-column: 3;
}




 .container > *:nth-child(87) {
    -ms-grid-row: 87;
    -ms-grid-column: 1;
}




 .container > *:nth-child(88) {
    -ms-grid-row: 87;
    -ms-grid-column: 3;
}




 .container > *:nth-child(89) {
    -ms-grid-row: 89;
    -ms-grid-column: 1;
}




 .container > *:nth-child(90) {
    -ms-grid-row: 89;
    -ms-grid-column: 3;
}




 .container > *:nth-child(91) {
    -ms-grid-row: 91;
    -ms-grid-column: 1;
}




 .container > *:nth-child(92) {
    -ms-grid-row: 91;
    -ms-grid-column: 3;
}




 .container > *:nth-child(93) {
    -ms-grid-row: 93;
    -ms-grid-column: 1;
}




 .container > *:nth-child(94) {
    -ms-grid-row: 93;
    -ms-grid-column: 3;
}




 .container > *:nth-child(95) {
    -ms-grid-row: 95;
    -ms-grid-column: 1;
}




 .container > *:nth-child(96) {
    -ms-grid-row: 95;
    -ms-grid-column: 3;
}




 .container > *:nth-child(97) {
    -ms-grid-row: 97;
    -ms-grid-column: 1;
}




 .container > *:nth-child(98) {
    -ms-grid-row: 97;
    -ms-grid-column: 3;
}




 .container > *:nth-child(99) {
    -ms-grid-row: 99;
    -ms-grid-column: 1;
}




 .container > *:nth-child(100) {
    -ms-grid-row: 99;
    -ms-grid-column: 3;
}




 .container > *:nth-child(101) {
    -ms-grid-row: 101;
    -ms-grid-column: 1;
}




 .container > *:nth-child(102) {
    -ms-grid-row: 101;
    -ms-grid-column: 3;
}




 .container > *:nth-child(103) {
    -ms-grid-row: 103;
    -ms-grid-column: 1;
}




 .container > *:nth-child(104) {
    -ms-grid-row: 103;
    -ms-grid-column: 3;
}




 .container > *:nth-child(105) {
    -ms-grid-row: 105;
    -ms-grid-column: 1;
}




 .container > *:nth-child(106) {
    -ms-grid-row: 105;
    -ms-grid-column: 3;
}


.container > div {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
}


#seven-am, #eight-am, #nine-am, #ten-am, #eleven-am, #twelve-pm, #one-pm, #two-pm, #three-pm, #four-pm,
#five-pm, #six-pm, #seven-pm, #eight-pm {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

#seven-am, #breakfast-thu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
}

#eight-am {
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
}

#nine-am {
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9/13;
}

#ten-am {
    -ms-grid-row: 13;
    -ms-grid-row-span: 4;
    grid-row: 13/17;
}

#eleven-am {
    -ms-grid-row: 17;
    -ms-grid-row-span: 4;
    grid-row: 17/21;
}

#twelve-pm {
    -ms-grid-row: 21;
    -ms-grid-row-span: 4;
    grid-row: 21/25;
}

#one-pm {
    -ms-grid-row: 25;
    -ms-grid-row-span: 4;
    grid-row: 25/29;
}

#two-pm {
    -ms-grid-row: 29;
    -ms-grid-row-span: 4;
    grid-row: 29/33;
}

#three-pm {
    -ms-grid-row: 33;
    -ms-grid-row-span: 4;
    grid-row: 33/37;
}

#four-pm {
    -ms-grid-row: 37;
    -ms-grid-row-span: 4;
    grid-row: 37/41;
} 

#five-pm {
    -ms-grid-row: 41;
    -ms-grid-row-span: 4;
    grid-row: 41/45;
}

#six-pm {
    -ms-grid-row: 45;
    -ms-grid-row-span: 4;
    grid-row: 45/49;
}

#seven-pm {
    -ms-grid-row: 49;
    -ms-grid-row-span: 4;
    grid-row: 49/53;
} 

#eight-pm {
    -ms-grid-row: 53;
    -ms-grid-row-span: 1;
    grid-row: 53/54;
}

div .travel-registration {
    background-color: #FFC99C;
}

div .customer-centricity {
    background-color: #CECDCE;
}

div .breaksnmeals {
    background-color: #DBF99E;
}

div .other {
    background-color: #FAFFB2;
}

#filling1 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
}

#cs-breakouts {
    -ms-grid-row: 6;
    -ms-grid-row-span: 8;
    grid-row: 6/14;
}

#break-thu {
    -ms-grid-row: 14;
    -ms-grid-row-span: 2;
    grid-row: 14/16;
}

#cs-breakouts2 {
    -ms-grid-row: 16;
    -ms-grid-row-span: 8;
    grid-row: 16/24;
}

#lunch-thu {
    -ms-grid-row: 24;
    -ms-grid-row-span: 4;
    grid-row: 24/28;
}

#cs-action {
    -ms-grid-row: 28;
    -ms-grid-row-span: 3;
    grid-row: 28/31;
}

#closing {
    -ms-grid-row: 31;
    -ms-grid-row-span: 1;
    grid-row: 31/32;
}

#filling2 {
    -ms-grid-row: 32;
    -ms-grid-row-span: 1;
    grid-row: 32/33;
}

#travel-back {
    -ms-grid-row: 33;
    -ms-grid-row-span: 21;
    grid-row: 33/54;
} 